.container {
    max-width: 75vw;
}

/* Tmavý režim */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode a {
    color: #ffc107;
}

body.dark-mode .list-group-item.active {
    background-color: #ffc107;
    color: #333;
}

/* Hlavička stránky */
header {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Formulář pro vyhledávání */

form label {
    font-weight: bold;
}


/* Seznam výsledků vyhledávání */
.list-group-item {
    border: none;
}

.list-group-item h5 {
    font-weight: bold;
}

.list-group-item p {
    margin-top: 5px;
}

.list-group-item small {
    font-size: 12px;
}

.list-group-item a {
    color: #007bff;
}

.list-group-item a:hover {
    text-decoration: none;
    color: #0056b3;
}

.list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
}

.list-group-item.active h5 a,
.list-group-item.active p,
.list-group-item.active small {
    color: #fff;
}

.list-group-item.active a {
    color: #ffc107;
}

.list-group-item.active a:hover {
    color: #ffe074;
}

/* Lišta pro listování výsledků */
.pagination {
    justify-content: center;
}

nav .page-link {
    color: #007bff;
    border-color: #007bff;
}

nav .page-link:hover {
    background-color: #007bff;
    color: #fff;
}

nav .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

/* Pata stránky */
footer {
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}