{% extends "layout.html" %}
{% block content %}
    <style>
        .link {
            stroke: #999;
            stroke-opacity: 0.6;
        }

        .node {
            fill: #ccc;
            stroke: #fff;
            stroke-width: 1.5px;
        }
    </style>
    <h2>Graf pro dataset Emailovej komunikace</h2>
    <svg width="1000" height="1000"></svg>
    <script src="{{ url_for('static', filename='assets/scripts/d3network.js') }}"></script>
    <script>
        var graphData = {{ data|safe }};
        d3network(graphData);
    </script>
{% endblock content %}
