{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2 mt-4">
            <!-- Levé menu -->
            <ul class="list-group">
                <li class="list-group-item active">Všechny datové sady</li>
                {% for dataset in datasets %}
                    <li class="list-group-item list-group-item-action list-group-item-light">{{ dataset }}</li>
                {% endfor %}

            </ul>
        </div>
        <div class="col-md-9">
            <!-- Formulář pro vyhledávání -->
            <form method="get" action="" id="search-form">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.search_term.label() }}
                        {{ form.search_term(class="form-control") }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.dataset.label() }}
                        {{ form.dataset(class="form-control") }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.entity_type.label() }}
                        {{ form.entity_type(class="form-control") }}
                    </div>
                </div>
                {#                <div class="form-row">#}
                {#                    <div class="form-group col-md-12">#}
                {#                        <div id="additional-search-conditions">#}
                {#                            <div class="input-group">#}
                {#                                <div class="input-group-prepend">#}
                {#                                    <button class="btn btn-outline-secondary" type="button"#}
                {#                                            onclick="addSearchCondition()">+#}
                {#                                    </button>#}
                {#                                </div>#}
                {#                                <input type="text" class="form-control" placeholder="Přidat další podmínku vyhledávání">#}
                {#                                <div class="input-group-append">#}
                {#                                    <select class="custom-select" id="additional-condition-type">#}
                {#                                        <option selected>Všechny</option>#}
                {#                                        <option>Telefonní číslo</option>#}
                {#                                        <option>Emailová adresa</option>#}
                {#                                        <option>Datum</option>#}
                {#                                        <option>Souřadnice</option>#}
                {#                                        <option>Číslo účtu</option>#}
                {#                                        <option>Jazyk</option>#}
                {#                                    </select>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {{ form.submit(class="btn btn-primary btn-lg mx-auto d-block") }}
            </form>

            <!-- Seznam výsledků vyhledávání -->
            <ul class="list-group mt-3">

                {% if total_hits == 0 %}
                    <li class="list-group-item danger">Žádné nalezené entity</li>

                {% else %}
                    <li class="list-group-item active">Nalezeno {{ total_hits }}</li>

                    {% for entity in results %}

                        <li class="list-group-item mb-2">
                            <div class="row">
                                <div class="col-md-10">
                                    <h5><a href="#">{{ entity.filename }}</a></h5>
                                    <p style="letter-spacing: 1px;">{{ entity.context|safe }}</p>
                                    <small class="text-muted">{{ entity.dataset }}</small>
                                </div>
                                <div class="col-md-2">
                                    <div><a
                                            href="{{ url_for("show_file", dataset=entity.dataset, file_id=entity.file_id, vajcia=form) }}"
                                            target="_blank"
                                            class="btn btn-secondary d-block mb-3"
                                            style="color:white;">Náhled</a>
                                        <a href="{{ url_for("show_file", dataset=entity.dataset, file_id=entity.file_id, vajcia=form) }}"
                                           target="_blank"
                                           class="btn btn-secondary d-block"
                                           style="color:white;">Stáhnout</a></div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    {{ pagination.links }}

                    {#                    {% if total_hits > 0 %}#}
                    {#                        <!-- Další výsledky vyhledávání -->#}
                    {#                        <!-- Lišta pro listování výsledků -->#}
                    {#                        <div class="col-md-9">#}
                    {#                        <nav class="mt-3" aria-label="Page navigation example">#}
                    {#                        <ul class="pagination d-flex justify-content-around">#}
                    {#                            {% if page > 1 %}#}
                    {#                                <li class="page-item mr-3">#}
                    {#                                    <button type="submit" form="search-form"#}
                    {#                                            formaction="{{ url_for('search', page=page-1, page_size=page_size) }}"#}
                    {#                                            class="page-link">Prev#}
                    {#                                    </button>#}
                    {#                                </li>#}
                    {#                            {% endif %}#}
                    {##}
                    {#                            {% if total_hits > page * page_size %}#}
                    {#                                <li class="page-item ml-3">#}
                    {#                                    {% set next_page = page + 1 %}#}
                    {#                                    <button type="submit" form="search-form"#}
                    {#                                            formaction="{{ url_for('search', page=next_page, page_size=page_size) }}"#}
                    {#                                            class="page-link">Next#}
                    {#                                    </button>#}
                    {#                                </li>#}
                    {#                            {% endif %}#}
                    {##}
                    {#                        </ul>#}
                    {#                    {% endif %}#}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock content %}