<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Datové sady</title>
    <!-- Assets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/styles/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
<div class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
            <div class="d-flex mx-5">
                <div class="logo">
                    <a class="navbar-brand mr-3" href="{{ url_for('stats') }}">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for("search") }}">Vyhledávač</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for("email_graph") }}">E-mail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Geolokace</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Banky a účty</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Content -->
    <main class=>
        <div class="container">
            {% block content %}
            {% endblock %}</div>
    </main>
    <!-- Footer -->
    <footer class="bg-light text-center py-3 mt-auto">
        <p>&copy; NERvana</p>
    </footer>
</div>
<!-- Připojení JS skriptů -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='assets/scripts/script.js') }}"></script>
</body>
</html>