{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center mb-4 mt-3">

        <div class="col-md-10">
            <!-- Formulář pro vyhledávání -->
            <form method="post" action="" id="search-form">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {% for search_term in form.search_terms %}
                            {{ search_term.label() }}
                            {{ search_term(class="form-control") }}
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.dataset.label() }}
                        {{ form.dataset(class="form-control") }}
                    </div>
                    <div class="form-group col-md-3">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle p-0 ml-0 ml-md-4" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                {{ form.entity_types.label() }} <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="{{ form.entity_types.id }}">
                                <div class="pr-3"> {% for checkbox in form.entity_types %}
                                    <div class="form-check">
                                        {{ checkbox(checked='checked') }}
                                        {{ checkbox.label() }}
                                    </div>
                                {% endfor %}</div>
                                <div class="d-flex justify-content-around mt-1">
                                    <button class="btn btn-link p-0" type="button" id="check-all">Všechny</button>
                                    <button class="btn btn-link p-0" type="button" id="uncheck-all">Žádné</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row" id="additional-search-conditions">
                    <div class="form-group col-md-12">
                        <button class="btn btn-outline-secondary mr-2" type="button"
                                onclick="addSearchCondition()">+
                        </button>
                        <label>Přidat další podmínku vyhledávání</label>
                    </div>
                </div>
                {{ form.submit(class="btn btn-primary btn-lg mx-auto mb-3 d-block") }}
            </form>

            <div class="results">

            </div>

        </div>
    </div>
{% endblock content %}