{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center mt-4">

        <div class="col-md-11">
            <!-- Search form -->
            <form method="post" action="" id="search-form">
                {{ form.hidden_tag() }}
                <div class="form-row justify-content-between align-items-end">
                    <div class="form-group col-lg-6 col-md-5 col-sm-4">
                        {{ form.dataset.label() }}
                        {{ form.dataset(class="form-control") }}
                    </div>
                    <div class="form-group form-inline col-lg-5 col-md-5 col-sm-6">
                        {{ form.results_per_page(class="form-control mr-sm-3") }}
                        {{ form.results_per_page.label(class="font-weight-normal") }}
                    </div>
                </div>
                <div class="form-row justify-content-between align-items-center">
                    <div class="form-group col-lg-6">
                        {% for search_term in form.search_terms %}
                            {{ search_term.label() }}
                            {{ search_term(class="form-control") }}
                        {% endfor %}
                    </div>
                    <div class="col-lg-5 d-flex justify-content-lg-between justify-content-around align-items-center flex-sm-row flex-column">
                        <div id="entityTypesGroup" class="form-group mt-2 px-0">
                            {% for entity_types in form.entity_types_list %}
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle p-0" type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="true">
                                        {{ entity_types.label(style="cursor: pointer;") }} <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for checkbox in entity_types %}
                                            <div class="dropdown-item">
                                                {{ checkbox(checked='checked') }}
                                                {{ checkbox.label() }}
                                            </div>
                                        {% endfor %}
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-item d-flex justify-content-between">
                                            <button class="btn btn-link p-0 check-all" type="button">Všechny</button>
                                            <button class="btn btn-link p-0 uncheck-all" type="button">Žádné</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="fileFormatsGroup" class="form-group mt-2 px-0">
                            {% for file_format in form.file_format_list %}
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle p-0" type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="true">
                                        {{ file_format.label(style="cursor: pointer;") }} <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for checkbox in file_format %}
                                            <div class="dropdown-item">
                                                {{ checkbox(checked='checked') }}
                                                {{ checkbox.label() }}
                                            </div>
                                        {% endfor %}
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-item d-flex justify-content-between px-3">
                                            <button class="btn btn-link p-0 check-all" type="button">Všechny</button>
                                            <button class="btn btn-link p-0 uncheck-all" type="button">Žádné</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="fileLanguagesGroup" class="form-group mt-2 px-0">
                            {% for file_language in form.file_language_list %}
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle p-0" type="button"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="true">
                                        {{ file_language.label(style="cursor: pointer;") }} <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for checkbox in file_language %}
                                            <div class="dropdown-item">
                                                {{ checkbox(checked='checked') }}
                                                {{ checkbox.label() }}
                                            </div>
                                        {% endfor %}
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-item d-flex justify-content-between px-3">
                                            <button class="btn btn-link p-0 check-all" type="button">Všechny</button>
                                            <button class="btn btn-link p-0 uncheck-all" type="button">Žádné</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="form-group col-md-12">
                        <button class="btn btn-outline-secondary mr-2" type="button"
                                onclick="addSearchCondition()">+
                        </button>
                        <label class="font-weight-normal">Přidat další podmínku vyhledávání</label>
                    </div>
                </div>
                <div id="additional-search-conditions">

                </div>
                <div class="form-row justify-content-center mt-4 mb-3">
                    {{ form.submit(class="btn btn-primary btn-lg mx-auto border") }}
                </div>
            </form>


        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="results col-md-11">
        </div>
    </div>


    <!-- File content modal -->
    <div class="modal fade" id="file-contents-modal" tabindex="-1" role="document">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content px-1">
                <div class="modal-header">
                    <h5 class="modal-title" id="file-content-modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre id="file-contents-pre"></pre>
                </div>
                <div class="modal-footer px-2">
                    <div class="container-fluid px-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <input type="text" id="modal-search-input" class="form-control"
                                       placeholder="Hledat:">
                            </div>
                            <div class="col-1">
                                <button type="button" id="modal-search-prev" class="btn btn-light w-100">
                                    &larr;
                                </button>
                            </div>
                            <div class="col-1">
                                <button type="button" id="modal-search-next" class="btn btn-light w-100">
                                    &rarr;
                                </button>
                            </div>
                            <div class="col-2">
                                <span id="modal-search-info" class="d-inline-block w-100 text-left"></span>
                            </div>
                            <div class="col-2">
                                <button type="button" id="modal-scroll-to-top" class="btn btn-link">
                                    Nahoru
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CSV export modal -->
    <div class="modal fade" id="entity-export-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Export entit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-row">
                            <div class="form-group col-7">
                                <label for="entity-export-input">Název</label>
                                <input type="text" class="form-control" id="entity-export-input" value="export">
                            </div>
                            <div class="form-group col-4">
                                <label for="entity-export-format">Typ</label>
                                <select id="entity-export-format" class="form-control">
                                    <option value="csv">CSV</option>
                                    <option value="json">JSON</option>
                                    <option value="zip">ZIP souború</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zrušit</button>
                    <button type="button" class="btn btn-primary" id="download-csv">Stáhnout</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}