{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>File Formats</h2>
            <svg id="file-formats-graph"></svg>
        </div>
        <div class="col-md-6">
            <h2>Entity Types</h2>
            <svg id="entity-types-graph"></svg>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            const formats = {{ file_formats|tojson }};
            const entityTypes = {{ entity_types|tojson }};

            // Function to create bar graphs
            function createBarGraph(svgId, data) {
                const margin = {top: 20, right: 20, bottom: 30, left: 40};
                const width = $(svgId).parent().width() - margin.left - margin.right;
                const height = 300 - margin.top - margin.bottom;

                const x = d3.scaleBand()
                    .range([0, width])
                    .padding(0.1);
                const y = d3.scaleLinear()
                    .range([height, 0]);

                const svg = d3.select(svgId)
                    .attr('width', width + margin.left + margin.right)
                    .attr('height', height + margin.top + margin.bottom)
                    .append('g')
                    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

                x.domain(data.map(d => d.key));
                y.domain([0, d3.max(data, d => d.doc_count)]);

                svg.append('g')
                    .attr('class', 'x axis')
                    .attr('transform', 'translate(0,' + height + ')')
                    .call(d3.axisBottom(x));

                svg.append('g')
                    .attr('class', 'y axis')
                    .call(d3.axisLeft(y).ticks(5));

                svg.selectAll('.bar')
                    .data(data)
                    .enter().append('rect')
                    .attr('class', 'bar')
                    .attr('x', d => x(d.key))
                    .attr('width', x.bandwidth())
                    .attr('y', d => y(d.doc_count))
                    .attr('height', d => height - y(d.doc_count));
            }

            // Create graphs
            createBarGraph('#file-formats-graph', formats);
            createBarGraph('#entity-types-graph', entityTypes);
        });
    </script>
{% endblock content %}