{% extends "layout.html" %}
{% block content %}
    <div class="row mt-4">
        <div class="col-lg-6 col-md-12">
            <h2 class="text-center">Formáty souború</h2>
            <canvas id="file-formats-graph"></canvas>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Subory s nejvíce entitami</h2>
            <canvas id="top-files-graph"></canvas>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6 col-md-12">
            <h2 class="text-center">Typy entit</h2>
            <canvas id="entity-types-graph"></canvas>
        </div>
        <div class="col-lg-6 col-md-12">
            <h2 class="text-center">Nejčastejší entity</h2>
            <canvas id="most-common-values-graph"></canvas>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            const formats = {{ file_formats|tojson }};
            const entityTypes = {{ entity_types|tojson }};

            // Function to create bar graphs
            function createBarGraph(ctx, labels, data) {
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: '#059af7'
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {
                                display: false
                            },
                        },
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }

            // Create graphs
            createBarGraph(document.getElementById('file-formats-graph').getContext('2d'), formats.map(d => d.key), formats.map(d => d.doc_count));
            createBarGraph(document.getElementById('entity-types-graph').getContext('2d'), entityTypes.map(d => d.key), entityTypes.map(d => d.doc_count));

            const fileEntities = {{ file_entities|tojson }};
            const mostCommonValues = {{ most_common_values|tojson }};

            // Function to create a horizontal bar chart
            function createHorizontalBarChart(ctx, labels, data) {
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: '#FFA500'
                        }]
                    },
                    options: {
                        indexAxis: 'y',
                        plugins: {
                            legend: {
                                display: false
                            },
                        },
                        scales: {
                            x: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }

            createHorizontalBarChart(document.getElementById('top-files-graph').getContext('2d'), fileEntities.map(d => d.filename), fileEntities.map(d => d.doc_count));
            createHorizontalBarChart(document.getElementById('most-common-values-graph').getContext('2d'), mostCommonValues.map(d => d.key), mostCommonValues.map(d => d.doc_count));

        });

    </script>
{% endblock content %}